body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.content {
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;;
    margin-left: auto;
    margin-right: auto;

}

.navegation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.bar:hover {
    background-color: white;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}
.nome {
    font-size: 4rem;
  font-weight: 700;
}
.titulo1 {
    width: 6rem;
}

.titulo2 {
    width: 7rem;
}

.titulo3 {
    width: 8rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 5rem;
    background-color: #F08080;
    color: white;
    opacity: 60%;
}

.texto {
    text-align: center;
}